<h1>Recipes</h1>

<% if (recipes) { %>
  <% for(var i=0; i<recipes.length; i++) {%>
        <li class="ingredients">
          <div>
            <span><%= recipes[i].recipe.label %></span>
            <img src='<%= recipes[i].recipe.image %>'>
          </div>
        </li>
      <% } %>
<% } %>